* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
  background-color: aqua;
  grid-column: [width];
}

h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}

/* layout */
.layout-grid {
  display: grid;
  grid-template-rows: [header] 80px [main] auto [footer] 80px;
  grid-template-columns: [width] 375px;
  margin: 0 auto;
  min-width: 100vw;
  max-width: 60vw;
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: red;
  grid-row: header;
  text-align: center;
  top: 0;
  width: 375px;
  position: fixed;
}

.grid-main {
  grid-row: main;
  overflow-y: scroll;
}

/* sample box flex parent */
.content {
  color: tomato;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  bottom: 0;
  position: static;
}

/* sample boxes flex item */
.content-box {
  height: 50px;
  width: 100%;
  background-color: seashell;
  text-align: center;
}

/* targetting button class */
.footer {
  position: fixed;
  bottom: 0;
  background-color: green;
  grid-row: footer;
  width: 375px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}

/* button settings */
.button {
  background-color: orange;
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 1em;
}

/* targetting icons */
a {
  position: relative;
  height: 70%;
  top: 10%;
  border-radius: 50%;
}

main {
  background-color: black;
}

/* icon in home settings */
.icon {
  object-position: center;
  color: blue;
  font-size: 220%;
}
