.logout-header {
  align-items: center;
  font-family: 'Cedarville Cursive', cursive;
  background-color: #eca2a2c6;
  padding: 20px;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  width: 70vw;
  z-index: 10;
  bottom: 40vh;
}

.logout-question {
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 15vh;
  z-index: 10;
}

.log-in-button {
  background-color: orange;
  height: 40px;
  margin: 0;
  font-size: 1em;
  border-radius: 5px;
  z-index: 10;
}

.logout-wrapper {
  display: flex;
  flex-direction: column;
  height: 30vh;
  position: absolute;
  bottom: 30px;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.footer--logout,
.header--logout {
  background-color: #cfabab;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

/* nail */
.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 53%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
