/* selected page color - CURRENT PAGE */
.current-destination-button > i {
  color: white;
}

/* Profile Page */

/* Profile div for picture and name */

.profile-heading {
  align-items: center;
  display: flex;
  grid-row: width;
  grid-column: main;
}

/* profile picture */
.profile-picture {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
}

.profile-heading > h1 {
  padding: 0 10px 0 20px;
  align-items: center;
}

/*End of Profile Flex */

.profile-description {
  height: auto;
  width: 100%;
  border-radius: 15px;
  text-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* hashtags */
.content-topics {
  padding-left: 0;
  list-style: none;
}

/* hashtags parent in profile */
.profile-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* content ul flex settings */

.ul-flex > li {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #ff6347;
  width: 15vh;
  margin: 0 2px;
}

/* logout button */

.log-out-button {
  background-color: orange;
  overflow: hidden;
  height: 40px;
  margin: 0;
  font-size: 1em;
  border-radius: 5px;
  text-decoration: none;
}

.logout-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode-parent {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.darkmode {
  background-color: black !important;
  color: white !important;
}
